vendor/
node_modules/
npm-debug.log

# Tooling caches
.phpunit.cache/
.php-cs-fixer.cache
.phpstan-result.cache

# IDE / OS
.idea/
.vscode/
.DS_Store

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
